<form method = "POST" action="/coders">
    
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName">

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName">

    <label for="age">Age</label>
    <input type="text" id="age" name="age">

    <label for="email">Age</label>
    <input type="text" id="email" name="email">

    <button type="submit">Create Coder</button>

</form>